<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>$100000 Blog</title>

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link rel="icon" type="image/ico" href="img/favicon.ico"/>
  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

</head>
<body>

  <!-- Navigation -->
  <%- include('includes/nav.ejs') %>
  <!-- Page Header -->
  <header class="masthead blur-image" style="background-image: url(img/stat/small.webp)"
    data-image-full="img/stat/big.webp"  >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 data-aos="fade-up" data-aos-delay="300">Top Leading Best Markets</h1>
            <span class="subheading" data-aos="fade-up" data-aos-delay="600">Find Out Every Nice Thing in The World</span>
          </div>
        </div>
      </div>
    </div>
    <img src="img/stat/big.webp"    alt="header" />
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% post.forEach(function( val){ %>
        <div class="post-preview"  data-aos="fade-up" data-aos-delay="200">
          <a href=<%- val.link %>>
            <h2 class="post-title"  data-aos="fade-up" data-aos-delay="300">
              <%- val.heading %>
            </h2>
            <h3 class="post-subtitle">
              <%= val.subheading %>
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#"><%- val.author %></a>
            on <%- val.dateCreated.toDateString() %>,
            <% if(val.dateCreated.getHours()<10) { %>
              <%= '0' + val.dateCreated.getHours() %> <% } else { %>
                <%=val.dateCreated.getHours() %> <% } %> :
             <% if(val.dateCreated.getMinutes()<10) { %>
             <%= '0' + val.dateCreated.getMinutes() %> <% } else { %>
              <%= val.dateCreated.getMinutes() %> <% } %>:<%= val.dateCreated.getSeconds() %></p>
        </div>
        <hr>
        <% }) %>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <%- include('includes/footer.ejs') %>
  <!-- End of Footer -->
  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>
  <!-- Image blur -->
  <script src="js/imgs.js"></script>
  <!-- aos -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

</body>

</html>
